<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indonesia Darurat Covid</title>
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/774188066562637824/807604760894636052/91179258_1059116257820969_2212853170504204288_n.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .social-media{
            flex-basis: 30%;
            display: flex;
            justify-content: center;
            z-index: 2;
        }
        .social-media li{
            list-style: none;
            margin-right: 15px;
            height: 50px;
            width: 50px;
            background: white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 6px 10px rgba(0,0,0,0.2);
        }
        .social-media li:hover{
            transform: scale(1.08);
        }
    </style>
</head>
<body>

    <div class="container mt-3">
        <h3 align="center">Data Penyebaran Covid-19</h3>
        <h3 align="center"> Negara Indonesia</h3>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li>
                <button type="button" class="btn btn-primary"> Profil
                     <a href="/"></a>
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/covid">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sorted">Sorted</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                          Zona
                                        </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/filter">Zona Hijau</a>
                        <a class="dropdown-item" href="/zonamerah">Zona Merah</a>
                    </div>
                </div>
            </li>
        </ul>
        <br>

        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/s480x480/146121826_758064628166250_6936334665539617999_n.png?_nc_cat=106&ccb=2&_nc_sid=58c789&_nc_eui2=AeGkO39sP4tWwHNL16VPXqU6dsseJpFOwNB2yx4mkU7A0Ord9M8bVzd9VME9aKVVeHQrOODbsjKx8Bn19E1im5H-&_nc_ohc=U4RrwvDfuWIAX-XSM8c&_nc_oc=AQnfEykVKyDNbdJPeXXStieVIOSNBTGmADZVIFIlnZnRXiOIYHv6kL5rKnA71-JxS3k3nMYLk7YVHT6HDZPTp0aT&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=5a818c1f153352a385260752a0fac3d7&oe=603FC96A"
            style="display: block; margin: auto;" width="650" height="250">
        <h2 align="center">Team Developer</h2>

        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p206x206/145959938_751711429100514_4124468975426306623_n.png?_nc_cat=100&ccb=2&_nc_sid=58c789&_nc_eui2=AeEx0meoEXKFSvp1MTHX1zgbjO9aGlURQdeM71oaVRFB1zl17-2mjg4hsppY4aM4FT03-NbhUJMnDl2XVHniJkih&_nc_ohc=6dCg8t9azK0AX_twkuR&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=61b8fcb6bee30f31f872b4055eb19759&oe=60408F8B"
                        style="display: block; margin: auto; border-radius: 100%;">
                    <br>
                    <h3 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mufid Al Fikri</h3>
                    <h6 align="center">19102088</h6>

                </div>
                <div class="col-sm-4">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p206x206/130234593_236257837923743_3648220088847387202_n.png?_nc_cat=100&ccb=2&_nc_sid=58c789&_nc_eui2=AeEgfRFBPykpnb1DJrdWyhfU1N1LGJViBczU3UsYlWIFzKmIqaxmtilFRN9Qi9sd85K-SXHLnwkFcJ_EzYZweAic&_nc_ohc=yPrHBUcCjFAAX_PrVkT&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=7de452a59c22d7cf9c47e43f5563b822&oe=603F4616"
                        style="display: block; margin: auto; border-radius: 100%;">
                    <br>
                    <h3 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Adrian Kurniawan</h3>
                    <h6 align="center">19102224</h6>
                </div>
                <div class="col-sm-4">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p206x206/144566043_3595732713796675_3967212700409687717_n.png?_nc_cat=103&ccb=2&_nc_sid=58c789&_nc_eui2=AeFrzCfWVVr-fet1xE_FrqWas1FncDRzEJqzUWdwNHMQmm8NPEiiOw91f5yeuZgUeXOdJMRJeR0tnKI1swxNPK2k&_nc_ohc=GrZp8Qdu9oYAX9LQp2R&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=5f028933ee12a138c9116a672b85eaec&oe=604219D6"
                        style="display: block; margin: auto; border-radius: 100%;">
                    <br>
                    <h3 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Ghudzamir Takhta</h3>
                    <h6 align="center">19102007</h6>
                </div>
            </div>
            <div id="sorted" class="container tab-pane fade"><br>
                <h3>Sorted</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <h3>Filter</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>
<div class="jumbotron text-center">
    <ul class="social-media">
        <li><a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.whatsapp.com/?lang=en" target="blank"><i class="fab fa-whatsapp"></i></a></li>
    </ul>
</div>
</body>

</html>